.App {
  text-align: center;
}

body {
 background-color: #afd4c0;
}

.header {
  margin: auto;
  background-color: #519872;
  width: 100%;
  display: inline-block;

}

.logo {
  float: left;
  margin: auto;
  padding: 5px 0px 0px 10px;
  width: 75px;
}

.header-font{
  padding: 0px 0px 0px 15px;
  float: left;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.house-image {
  width: 200px;
}

.listings {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.single-listings {
  margin: 10px;
  width: 50vw;;
  background-color: #dedede;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.house-img {
  margin: auto; 
}

h5 {
  margin: auto;
  padding: 2px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}
.inputName {
  width: 200px;  
}

.inputAddress {
  width: 250px;
}

.inputCity {
  width: 150px;
}

.inputState {
  width: 25px;
}

.inputZip {
  width: 75px;
}

.cancelBtn {
  background: #fec2c2;
  border-radius: 5px;
}
.addHouseBtn {
  margin: 10px;
  height: 40px;
  width: 90px;
  background: #8aea92;
  border-radius: 5px;
}