.App {
  text-align: center;
}

body {
 background-color: #afd4c0;
}

.header {
  margin: auto;
  padding: 1px;
  background-color: #519872; 
}

.header-font{
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.house-image {
  width: 200px;
}

.listings {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.single-listings {
  margin: 10px;
  width: 50vw;;
  background-color: #999;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.house-img {
  margin: auto;

}

.house-text {

}