.App {
  text-align: center;
  /* background-color: purple; */
}

/* 23E */
body {
 background-color: #afd4c0;
}

/* 25F 23E */
/* 25C-1 */
.header {
  margin: auto;
  /* background-image is only in here for competencies */
  background-image: url('https://www.detail-online.com/fileadmin/user_upload/Gerahmte_Aussicht_PauldeRuiter-VillaK-Thueringen-PieterKers-Teaser-1500.jpg');
  background-position: center;
  background-color: #519872;
  width: 100%;
  display: inline-block;
  position: relative;

}

/* 25D */
.logo {
  float: left;
  margin: auto;
  padding: 25px 0px 0px 20px;
  width: 40px;
}

/* 23D-1, 23D-2. 23D-3 */
.header-font{
  padding: 0px 0px 0px 15px;
  float: left;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}

/* ID 27G, 27F, 27E 27D, 27C */
.dashboard {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: stretch;
  /* background-color: yellow; */
}

/* 24C, 24d, 24E, 24F*/
/* 23D-3 */
/* 30E */
.dashboard-text {
  margin: 15px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  font-size: 2.5em;
  letter-spacing: .3rem;
  text-shadow: rgba(21, 21, 21, 0.5) 0px 3px 3px;
}

.house-image {
  width: 200px;
}

.house-listings {
  margin: auto;
  width: 75vw;
  background-color: #e5f4ec;
  
}

.house-listings-text {
  margin: auto;
  padding: 20px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
  align-content: stretch;
}

.listings {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.single-listings {
  margin: 10px;
  width: 65vw;
  background-color: #dedede;
  /* display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch; */
}

.house-box {
  /* background-color: yellow; */
  float: left;
}

.house-image {
  margin: 22px; 
}

.house-text {
  /* background-color: purple; */
  margin-top: 10px;
  float: left;
}

.mortgage-text {
  /* background-color: yellow; */
  float: left;
  margin-top: 10px;
}

h5 {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: flex-start;
}

.delete-box {
  margin: 10px;
  float: right;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

.wizard {
  margin: auto;
  width: 75vw;
  height: 50vh;
  background-color: #e5f4ec;
}

.inputName {
  width: 200px;  
}

.inputAddress {
  width: 250px;
}

.inputCity {
  width: 150px;
}

.inputState {
  width: 25px;
}

.inputZip {
  width: 75px;
}

.inputImage {
  width: 450px;
}

/* 24D */
.addHouseBtn {
  margin: 10px;
  height: 40px;
  width: 90px;
  background: #8aea92;
  border-radius: 5px;
}

.newPropertyBtn {
  margin: 23px;
  background: #8aea92;
  width: 150px;
  height: 30px;
  font-size: 1em;
  padding: 1px 0px 0px 0px;
  box-shadow: 2px 2px 10px  #999;
   
}

/* 26H 28D*/
.newPropertyBtn:hover {
  background: #e5f4ec;
  transition: .5s;
  
}

.wizard-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.add-new-text {
  display: flex;
  margin: 10px 0px 0px 15px;
}
         
.cancelBtn {
  margin: 20px 20px 0px 0px;
  background: #fec2c2;
  border-radius: 5px;
  width: 75px;
  height: 30px;
  font-size: 1em;
  padding: 1px 0px 0px 0px;
}